In [1]:
#Exercise - Housing Prices Competition for Kaggle Learn Users

##### To Do

- Load in the train data for the Housing prices Competition.
- Understand the data
- build a model on train data
- make prediction on test
- submit predictions on the kaggle competition.

In [29]:
#import libraries
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

#load data
iowa_file_path = "../data/Housing Prices Competition/train.csv"
home_data = pd.read_csv(iowa_file_path)

# show data:
home_data.head()
home_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [30]:
home_data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [25]:
# Idea: skip non-numeric data; use ~5 values (columns), skip data with missing values
# home_data = home_data.dropna(axis=0) # OK, this leaves us empty
# home_data.describe()

# try reducing the columns first: 
home_features = ['Id', 'MSSubClass', 'LotArea', 'OverallQual', 'OverallCond', 'YrSold']

X = home_data[home_features]
X.describe()

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YrSold
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,10516.828082,6.099315,5.575342,2007.815753
std,421.610009,42.300571,9981.264932,1.382997,1.112799,1.328095
min,1.000000,20.000000,1300.000000,1.000000,1.000000,2006.000000
25%,365.750000,20.000000,7553.500000,5.000000,5.000000,2007.000000
50%,730.500000,50.000000,9478.500000,6.000000,5.000000,2008.000000
75%,1095.250000,70.000000,11601.500000,7.000000,6.000000,2009.000000
max,1460.000000,190.000000,215245.000000,10.000000,9.000000,2010.000000

In [26]:

# try again: 
X = X.dropna()
X.describe()

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YrSold
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,10516.828082,6.099315,5.575342,2007.815753
std,421.610009,42.300571,9981.264932,1.382997,1.112799,1.328095
min,1.000000,20.000000,1300.000000,1.000000,1.000000,2006.000000
25%,365.750000,20.000000,7553.500000,5.000000,5.000000,2007.000000
50%,730.500000,50.000000,9478.500000,6.000000,5.000000,2008.000000
75%,1095.250000,70.000000,11601.500000,7.000000,6.000000,2009.000000
max,1460.000000,190.000000,215245.000000,10.000000,9.000000,2010.000000

In [45]:
X.shape

(1460, 6)

In [48]:
# OK, same result. :-) 
# NB: Count is the same as in full set!
# Let's continue. 

# Define y: 
#y = home_data.SalePrice
y = home_data['SalePrice']
y.shape

(1460,)

In [50]:
# Define model: 
from sklearn.ensemble import RandomForestRegressor
home_model = RandomForestRegressor(max_depth=5, random_state=0, n_estimators=100)

# Split into validation and training data
train_X, val_X, train_y, val_y = train_test_split(X, y, test_size=0.2, random_state=1)
 
# Fit model: 
home_model.fit(train_X, train_y) #X, y)

RandomForestRegressor(max_depth=5, random_state=0)

In [33]:
# First test: 
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(home_model.predict(X.head()))

Making predictions for the following 5 houses:
   Id  MSSubClass  LotArea  OverallQual  OverallCond  YrSold
0   1          60     8450            7            5    2008
1   2          20     9600            6            8    2007
2   3          60    11250            7            5    2008
3   4          70     9550            7            5    2006
4   5          60    14260            8            5    2008
The predictions are
[198783.87174509 163768.63885183 220189.28304007 191101.16979236
 294584.22316145]

In [38]:
# Make validation predictions: 
home_model_val_pred = home_model.predict(val_X)

# Calculate the mean absolute error of your Random Forest model on the validation data
home_val_mae = mean_absolute_error(home_model_val_pred, val_y)

print("Validation MAE for Random Forest Model: {}".format(home_val_mae))

Validation MAE for Random Forest Model: 27343.07005340839

In [53]:
# So what's next? Compute predicted prices for ... which houses? Test data? 

#load data
test_file_path = "../data/Housing Prices Competition/test.csv"
test_data = pd.read_csv(test_file_path)

# make prediction? 
test_pred_prices = home_model.predict(test_data[home_features])

print(test_pred_prices)
# Tuples: Id, test_price
#for index in range(10):
#        print(test_data[index].ID,  test_data[index].SalePrice, test_pred_prices[index])

[140704.73497743 183079.38744857 143090.38781391 ... 146145.84902766
 136168.75491101 215701.42291502]

In [57]:
# create dataframe: 
df_test = pd.DataFrame()

df_test['Id'] = test_data['Id']
df_test['SalePrice'] = test_pred_prices

df_test # noch nicht ganz richtig ... andere Daten einfügen?

        Id      SalePrice
0     1461  140704.734977
1     1462  183079.387449
2     1463  143090.387814
3     1464  165293.191441
4     1465  229978.891771
...    ...            ...
1454  2915   94500.381922
1455  2916   92417.645523
1456  2917  146145.849028
1457  2918  136168.754911
1458  2919  215701.422915

[1459 rows x 2 columns]